[Unit]
Description=OpenMower Map Editor Service
After=network.target

[Service]
# Slå alltid av ev gammal
ExecStartPre=/usr/bin/podman rm -f openmower-mapeditor || true

# Kör i förgrunden (ingen --rm här, podman tar hand om det när processen dör)
ExecStart=/usr/bin/podman run \
  --name openmower-mapeditor \
  --network host \
  -v /root/ros_home/.ros/map.bag:/data/map.bag:Z \
  -v /opt/openmower-mapeditor/data:/data:Z \
  -p 8088:8088 \
  localhost/openmower-mapeditor:latest

# Om containern dött – ta bort den
ExecStop=/usr/bin/podman rm -f openmower-mapeditor

# Så att vi ser alla logs i journalen:
StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
